.footer{
    grid-column: full-start / full-end;

    background-color: $color-secondary;
    margin: 0;

    &__logo-box {
        display: flex;
        justify-content: center;
    }

    &__logo{
        width: 15rem;
           
        &:hover{
            animation-name: spin;
            animation-duration: 1s;
            animation-timing-function: ease-out;
        }

        &--text{
            color: $color-primary;
            font-family: $font-shadowsintolight;
            font-size: 3rem;
            letter-spacing: 1rem;
        }
    } 
}

.nav-footer{
    list-style: none;

    display: flex;
    justify-content: center;


    &__item{
        margin: 0 2rem;
    }


    &__link:link,
    &__link:visited{
        font-size: 2rem;
        color: $color-white;
        text-decoration: none;
        font-family: $font-shadowsintolight;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        display: block;
        transition: all .2s;
    }

    &__link:hover,
    &__link:active{
        background-color: rgba($color-black, .5);
        transform: translateY(-3px);
    }
}

.copyright{
    font-size: 1.4rem;
    font-family: $font-livvic;
    color: $color-grey-light-2;
    margin: 3rem auto;
    text-align: center;
    width: 70%;
}


.social{
    display: flex;
    justify-content: center;

    &__item{
        padding: 2rem;
    }

    &__icon {
        display: inline-block;
        width: 4em;
        height: 4em;
        transition: all .2s;
    }

    &__icon:hover{
        transform: scale(1.4);
    }
}