.landing{
    margin-top: 2rem;
    position: relative;
    text-align: center;
    background-color: $color-black;
    

    grid-column: full-start / full-end;
    grid-row: 1 / 2;

    &__logo-box {
        opacity: 80%;
        position: absolute;
        top: 3rem;
        left: 4rem;
        z-index: 10;
    }

    &__logo {
        height: 13rem;

        
        &:hover{
            animation-name: spin;
            animation-duration: 1s;
            animation-timing-function: ease-out;
        }

        
    }
}


.landing-slideshow {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    list-style: none;
    z-index: 0;

    li { 
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: 50% 50%;
        opacity: 0;
        z-index: 0;
        animation: cardSlideshowAnimation 50s linear infinite; 
    }
}

.landing-slideshow li:nth-child(1) { 
    background-image: url(../images/Background/tram_dharmatala_28_feb_2k18.jpg) 
}
.landing-slideshow li:nth-child(2) { 
    background-image: url(../images/Background/bird_sky.jpg);
    animation-delay: 10s; 
}
.landing-slideshow li:nth-child(3) { 
    background-image: url(../images/Background/Colourful_Lamp.jpg);
    animation-delay: 20s; 
}
.landing-slideshow li:nth-child(4) { 
    background-image: url(../images/Background/Sunset_blue_sky.jpg);
    animation-delay: 30s; 
}
.landing-slideshow li:nth-child(5) { 
    background-image: url(../images/Background/Burning_body_beach_Evening.jpg);
    animation-delay: 40s; 
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .landing-slideshow li {
	opacity: 1;
}