.landing{
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.5),
        rgba($color-primary-dark, 0.5)), 
    url(../images/Background/tram_dharmatala_28_feb_2k18.jpg);

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    grid-column: full-start / full-end;
    grid-row: 1 / 2;
    z-index: 2;
}