.card-image{
    grid-column: center-start / col-end 4;
    background-color: $color-black;

    
    text-align: center;
    background-color: $color-black;

    &__slideshow{
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        list-style: none;
        z-index: 0;
    
        li { 
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-position: 50% 50%;
            opacity: 0;
            z-index: 0;
            animation: cardSlideshowAnimation 50s linear infinite; 
        }
    }
        
    &__slideshow li:nth-child(1) { 
        background-image: url(../images/Cards/sunsate_29_apr_from_helipad.jpg) 
    }
    &__slideshow li:nth-child(2) { 
        background-image: url(../images/Cards/full_puja.jpg);
        animation-delay: 10s; 
    }
    &__slideshow li:nth-child(3) { 
        background-image: url(../images/Cards/polo_talsari.jpg);
        animation-delay: 20s; 
    }
    &__slideshow li:nth-child(4) { 
        background-image: url(../images/Cards/Boats_starting_time.jpg);
        animation-delay: 30s; 
    }
    &__slideshow li:nth-child(5) { 
        background-image: url(../images/Cards/The_fireworks.jpg);
        animation-delay: 40s; 
    }
    
    /* Older browser support - .no-cssanimations class added by modernizr */
    .no-cssanimations .image-card__slideshow li {
        opacity: 1;
    }

    @media only screen and (max-width: $bp-small){
        grid-column: center-start / center-end;
    }
}

.image-card{
    grid-column: col-start 4 / center-end;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    @media only screen and (max-width: $bp-small){
        grid-column: center-start / center-end;

        display: flex;
        flex-direction: column;

        &__img{
            padding: 2rem 0;
            border-top: $border-4;
        }
    }

    &__modal{
        width: 100%;
        display: block;
    }
}


.gallery-card{
    grid-column: full-start / full-end;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media only screen and (max-width: $bp-small){
        grid-template-columns: repeat(2, 1fr);
    }

    &__container{
        position: relative;
        overflow: hidden;
    }

    &-caption{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 35%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        transition: all 0.5s;
        background-color: black;
        transform: translateY(100%);
    }

    &__img{
        height: 100%;
        width: 100%;
        transition: all .5s;
    }

    &__titel{
        font-size: 2.5rem;
        font-family: $font-livvic;
    }

    &__date{
        font-size: 1.5rem;
        margin-left: .8rem;
    }

    &__icon{
        display: inline-block;
        width: 2.2em;
        height: 2.2em;
        fill: $color-primary-dark;
    }

    &__desc{
        font-size: 1.8rem
    }

    &__container:hover .gallery-card-caption {
        transform: translateY(0);
    }
    
    &__container:hover .gallery-card__img {
        transform: translateY(-30%);
    }
}