.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    color: $color-grey-light-1;
    font-family: $font-livvic;
    z-index: 10;

    
    &--main{
        padding-bottom: 2rem;
        font-size: 9rem;
        letter-spacing: 3rem;
        line-height: 9rem;
        text-transform: uppercase;
        text-shadow: 0 1px 0 #efefef,
                     0 2px 0 #efefef,
                     0 3px 0 #efefef,
                     0 4px 0 #efefef,
                     0 30px 5px rgba(0,0,0,.8);
        animation: float 3s linear infinite alternate;

        @media only screen and (max-width: $bp-smaller){
            padding-bottom: 4rem;
        }
    
        @media only screen and (max-width: $bp-smallest){
            letter-spacing: 2.4rem;
            padding-bottom: 5rem;
        }
    }

    &--sub{
        font-size: 2rem;
        letter-spacing: 2.5rem;

        @media only screen and (max-width: $bp-smallest){
            letter-spacing: 2rem;
        }
    }
}